@import "tailwindcss";

@theme {
  --color-primary: #18181b;
  --color-primary-hover: #27272a;

  --color-background: #f7f7f7;
  --color-surface: #ffffff;
  --color-border: #e4e4e7;

  --color-text: #18181b;
  --color-text-secondary: #71717a;
  --color-muted: #a1a1aa;

  --color-success: #16a34a;
  --color-warning: #ca8a04;
  --color-danger: #dc2626;
}